.about-panel {
  max-width: 1024px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.paragraph-panel {
  width: 70%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.about-paragraph-title {
  color: #000000;
  margin-left: 1.5vh;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
}
.about-paragraph-content {
  line-height: 1.77;
  color: #000000;
  margin-left: 1.5vh;
  margin-right: 10vh;
  white-space: pre-line;
}
.about-image-panel {
  min-height: 100%;
  width: 30%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 1.5vh;
  margin-bottom: 1.5vh;
}

@media only screen and (max-width: 800px) { 
  .about-panel {
    height: auto;
    max-height: none;
    flex-direction: column;
  }
  .paragraph-panel {
    width: 100%;
  }
  .about-image-panel {
    width: 100%;
  }
  .about-paragraph-content {
    margin-right: 1.5vh;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .about-image-panel {
    height: 421px;
  }
}