.mb-logo-index-page {
  margin-top: 35vh;
	max-height: 22vh;
}
.menu-panel-index-page {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 21vh;
  max-width: 1024px;
}

@media only screen and (max-width: 800px) { 
  .mb-logo-index-page {
    max-height: 13vh;
  }
  .menu-panel-index-page {
    flex-direction: column;
    margin-top: 11vh;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mb-logo-index-page {
    max-height: 20vh;
    max-width: 29.84vh;
  }
}