.issues-panel {
  max-width: 1024px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.issue-list-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #dcdcdc;
  height: 152px;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  overflow-x: auto;
}
.issue-list-link {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 36px;
  margin-right: 36px;
  text-decoration: none;
  flex: 1 0 auto;
}
.issue-list-link img {
  height: 88px;
}
.current-issue-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}
.issue-special-panel {
  width: 33%;
  margin-left: 1.5vh;
}
.issue-view-title {
  color: #000000;
  margin-top: 77px;
}
.issue-special-title {
  color: #000000;
  margin-top: 2em;
  margin-bottom: 1.8em;
}
.issue-special-content {
  line-height: 1.28;
  color: #444444;
  white-space: pre-line;
}
.issue-viewer {
  width: 66%;
  min-height: 440px;
  margin-top: 95px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) { 
  .issue-list-panel {
    height: 130px;
    margin-left: 0;
    margin-right: 0;
  }
  .issue-list-link {
    margin-top: 24px;
    margin-bottom: 6px;
    margin-left: 18px;
    margin-right: 18px;
  }
  .current-issue-panel {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .issue-special-panel {
    width: 100%;
    order: 2;
  }
  .issue-view-title {
    margin-top: 2vh;
  }
  .issue-special-title {
    margin: 0;
  }
  .issue-viewer {
    width: 100%;
    height: 440px;
    margin-top: 20px;
    margin-bottom: 0;
    order: 1;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .issue-list-link {
    flex: 0 0 auto;
  }
}
