.distribution-panel {
  max-width: 1062px;
  min-width: 940px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.distribution-title {
  letter-spacing: 8px;
  color: #0889ae;
  text-align: center;
  margin-top: 1em;
}

.city-title {
  color: #000000;
  margin-left: 2vh;
  margin-top: 1em;
  margin-bottom: 1em;
}

.city-locations {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
}

.location-panel {
  flex: 1 0 400px;
  margin-left: 4vh;
}

.location-name {
  color: #0889ae;
}

.location-address {
  color: #000000;
}

@media only screen and (max-width: 800px) { 
  .distribution-panel {
    min-width: 0;
  }
}
