.menu-button {
  margin-left: 67px;
  padding-bottom: 8px;
  object-fit: contain;
  text-align: center;
  text-decoration: none;
}
.index-menu-button {
  flex: 1 0 auto;
  object-fit: contain;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 1024px) { 
  .menu-button {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 800px) { 
  .menu-button {
    text-align: left;
    margin-top: 5px;
    margin-left: 0;
    padding-bottom: 0;
  }
  .index-menu-button {
    flex: 1 0 40px;
  }
}