.about-panel {
  max-width: 1062px;
  min-width: 940px;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.paragraph-panel {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.about-paragraph-title {
  letter-spacing: 10px;
  color: #000000;
  margin-top: 2em;
  margin-bottom: 2em;
}
.about-paragraph-content {
  line-height: 1.77;
  color: #000000;
  margin-right: 10vh;
  white-space: pre-line;
  /*white-space: pre-wrap;*/
}
.about-image-panel {
  width: 30%;
  display: flex;
}