.issues-panel {
  max-width: 1062px;
  min-width: 940px;
  max-height: 630px;
  display: flex;
  flex-direction: row;
}
.current-issue-panel {
  display: flex;
  flex-direction: column;
  width: 88%;
}
.issue-view-title {
  letter-spacing: 8px;
  color: #000000;
  margin-top: 1em;
  margin-bottom: 1em;
}
.issue-viewer {
  display: flex;
  width: 800px;
  height: 450px;
}
.issue-special-title {
  letter-spacing: 8px;
  color: #000000;
  margin-top: 1.2em;
}
.issue-special-content {
  line-height: 1.77;
  color: #000000;
  white-space: pre-line;
}
.issue-list-panel {
  display: flex;
  flex-direction: column;
  width: 12%;
  min-height: 100%;
  overflow: auto;
}
.issue-list-link {
  margin-top: 2em;
  text-decoration: none;
}
.issue-list-text {
  line-height: 1.77;
  text-align: center;
  color: #000000;
}