/* Events.js */
.event-panel {
  max-width: 1024px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.event-banner {
  margin: 30px 10px 0 10px;
}
.event-main-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.event-meta-list {
  width: 34%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.event-preview-list {
  width: 66%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
/* EventMetaSection.js */
.event-meta-section {
  margin-top: 30px;
  margin-bottom: 17px;
}
.event-meta-section-title {
  margin-top: 0em;
  margin-bottom: 0em;
}
.event-meta-section-placeholder {
  margin-top: 1em;
  margin-bottom: 0em;
  color: #6e6e6e;
}
.event-meta {
  text-decoration: none;
}
.event-meta-title {
  margin-top: 1em;
  margin-bottom: 0em;
  line-height: 1.28;
  color: #12769e;
}
.event-meta-meta {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #6e6e6e;
}
/* EventPreviewSection.js */
.event-preview-section {
  margin-top: 30px;
  margin-bottom: 14px;
}
.event-preview-section-title {
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: 600;
  text-align: center;
  color: #f3752a;
}
.event-preview-section-placeholder {
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: center;
  color: #6e6e6e;
}
/* EventPreview.js */
.event-preview-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: 23px 0;
  padding: 23px;
  text-decoration: none;
  border: solid 1px #dcdcdc;
}
.event-preview-panel:hover { 
  border: solid 1px #474747;
}
.event-preview-text-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-right: 23px;
}
.event-preview-title {
  margin-top: 0em;
  margin-bottom: 0em;
  color: #000000;
}
.event-preview-meta {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #6e6e6e;
}
.event-preview-summary {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #000000;
}
.event-preview-picture {
  width: 300px;
  height: 265px;
}
/* EventDetail.js */
.event-detail-panel {
  max-width: 1024px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.event-detail-topnav {
  margin: 4vh 0 4vh 10px;
  color: #6e6e6e;
}
.event-detail-main-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.event-detail-meta-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.event-detail-picture {
  width: 305px;
  height: 325px;
}
.event-detail-meta-title {
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.28;
  color: #12769e;
}
.event-detail-meta-meta {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #6e6e6e;
}
.event-detail-meta-other {
  margin-top: 1em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #6e6e6e;
  white-space: pre-line;
}
.event-detail-detail-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-bottom: 4vh;
  padding-left: 3vw;
  border-left: solid 1px #dcdcdc;
}
.event-detail-detail-title {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #000000;
}
.event-detail-detail-meta {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #6e6e6e;
}
.event-detail-detail-content {
  margin-top: 1em;
  margin-bottom: 0em;
  line-height: 1.62;
  color: #000000;
}
@media only screen and (max-width: 800px) { 
  .event-banner {
    display: none;
  }
  .event-meta-list {
    display: none;
  }
  .event-preview-list {
    width: 100%;
    margin-left: 10px;
  }
  .event-preview-panel {
    flex-direction: column;
  }
  .event-preview-text-panel {
    width: 100%;
  }
  .event-preview-picture {
    /*width: auto;
    height: 300px;*/
  }
  .event-detail-meta-panel {
    display: none;
  }
  .event-detail-detail-panel {
    padding-left: 0;
    margin-right: 3vw;
    border-left: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .event-preview-picture img{
    width: 100%;
    height: auto;
  }
}
